body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  box-sizing: border-box;
  background: black;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(79, 229, 255));
  border-radius: 10px;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  backdrop-filter: blur(5px);
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: "AlphaCentauri", sans-serif !important;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
}

nav .nav-links li a:hover {
  color: rgb(122, 122, 122);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock2 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img,
.rock2 img {
  width: 40%;
  filter: brightness(0.5);
}

.text h1 {
  color: white;
  font-size: 5vw;
  font-family: "AlphaCentauri", sans-serif !important;
  letter-spacing: 20px;
  position: absolute;
  top: 35vh;
  left: 26vw;
}

.text p {
  position: relative;
  font-family: "AlphaCentauri", sans-serif !important;
  top: 53vh;
  left: 28vw;
  color: white;
  font-size: 2vw;
}

.earth img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
}

.mid {
  left: -150px !important;
  bottom: -100px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

/* Swiper */

#about {
  width: 100%;
  height: 100vh;
  position: relative;
}

.float1 {
  position: absolute;
  transform: scale(0.8);
  filter: brightness(0.8);
  top: 5vh;
  right: -60px;
  z-index: 1;
}

.float2 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.4);
  top: 15vh;
  right: 85px;
  z-index: 1;
}

.float3 {
  position: absolute;
  transform: scale(1.3);
  filter: brightness(0.8);
  top: 213vh;
  left: -70px;
  z-index: 1;
}

.float4 {
  position: absolute;
  transform: scale(0.15);
  filter: brightness(0.4);
  top: 200vh;
  left: -30px;
  z-index: 1;
}

.bahasa-links {
  width: 95%;
  height: 5vh;
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.bahasa-links .swiper-pagination-bullet {
  opacity: 0.2;
  outline: none;
}
.bahasa-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  height: 200px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("asset/planets-website-images/html.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("asset/planets-website-images/css.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("asset/planets-website-images/js.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("asset/planets-website-images/bootstrap.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("asset/planets-website-images/laravel.png");
}

.slide-img {
  background-position: "center";
  background-position-x: 50px;
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 80%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 300px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: "AlphaCentauri" !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 50px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 100px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 80px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 100px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
  position: absolute;
  top: -80px;
  left: 26%;
  z-index: 9;
  width: 200px;
  height: 200px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 50px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}

.goTop {
  position: fixed;
  z-index: 99;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.goTop.hide {
  transition: 1s linear;
  display: none;
}

.about-container {
  margin: 100px 0 -150px 100px;
  font-size: 25px;
  font-family: "AlphaCentauri", sans-serif;
  color: white;
}

.main p {
  margin-top: -20px;
  font-size: 20px;
  font-weight: 500;
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main .skill {
  margin: 100px 0 -170px 0;
}

#project {
  background: url("asset/planets-website-images/space-cartoon-wallpaper-31.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-position-x: -110px;
}

.main-project {
  padding: 50px 0 25px;
}

.main-project p {
  font-family: "AlphaCentauri", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  max-width: 350px;
  height: 255px;
  background: white;
  margin: 30px 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.5);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.project-card:hover {
  height: 290px;
}

.project-img {
  position: relative;
  width: 315px;
  top: -60px;
  z-index: 2;
}

.project-img img {
  max-width: 100%;
  border-radius: 10px;
  left: 0px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}

.project-img i {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 50px;
  visibility: hidden;
  opacity: 0;
}

.project-img i:hover {
  color: #48dbfb;
}

.project-content {
  position: relative;
  margin-top: -85px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.project-card:hover .project-content {
  visibility: visible;
  opacity: 1;
}

.project-img:hover i {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transition: 0.3s ease-in-out;
}

.project-img:hover img {
  filter: blur(1.5px);
}

#contact {
  background: url("asset/planets-website-images/269147.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 50px 0;
}

#contact h1 {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  font-family: "AlphaCentauri", sans-serif;
}

.contact-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contact-left {
  height: 400px;
  width: 40%;
}

.contact-right {
  background: rgba(124, 124, 124, 0.3);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 60%;
  padding: 20px;
  margin-top: 50px;
}

.contact-item {
  display: flex;
  padding: 150px 50px;
}

.contact-item i {
  position: relative;
  top: -100px;
  font-size: 350px;
}

.contact-left p {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  font-family: "AlphaCentauri", sans-serif;
  position: relative;
  top: -140px;
  right: 320px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.contact-right input[type="text"], textarea {
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
}

.name, .email{
  width: 310px;
  height: 30px;
}

.subject {
  width: 670px;
  height: 30px;
}

.message {
  width: 670px;
}

.contact-right input[type="text"]:focus, textarea:focus {
  box-shadow: 0 0 5px aqua;
}

.contact-right input[type="submit"]{
  padding: 10px 30px;
  border-radius: 10px;
  background: black;
  border: none;
  color: white;
  box-shadow: 0 5px 3px rgba(255, 255, 255, 0.521);
  cursor: pointer;
  position: relative;
  left: 550px;
}

.contact-right input[type="submit"]:active{
  position: relative;
  top: 5px;
  box-shadow: 0 0 0 0;
  cursor: pointer;
}

.footer {
  position: relative;
  top: 10%;
}

#footer {
  height: 7vh;
  width: 100%;
  color: white;
}

#footer hr {
  position: relative;
  top: -7px;
}

#footer p {
  position: relative;
  top: -13px;
  text-align: center;
}
